<div class="logo"><%= image_tag "cocktail.png" %></div>

  <div class="form">
    <%= form_for(@cocktail) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit %>
    <% end %>
  </div>

  <div class="btn btn-primary top_right" >
    <%= link_to "Back to list", cocktails_path%>
  </div>



